<div class="page-width1">
  <div class="brands_collection">
    <div class="brands_heading"><div class="brands name_heading1 Selected">Popular Brands</div>
    <div class="brands name_heading2">All Brands</div></div>
    
    <div class="alphabtic_order_brands_List">
      <ul class="alphabet-list">
         <li id="#" class="alphabetic_item">#</li>
        <li id="A" class="alphabetic_item">A</li>
  <li id="B" class="alphabetic_item">B</li>
  <li id="C" class="alphabetic_item">C</li>
  <li id="D" class="alphabetic_item">D</li>
  <li id="E" class="alphabetic_item">E</li>
  <li id="F" class="alphabetic_item">F</li>
  <li id="G" class="alphabetic_item">G</li>
  <li id="H" class="alphabetic_item">H</li>
  <li id="I" class="alphabetic_item">I</li>
  <li id="J" class="alphabetic_item">J</li>
  <li id="K" class="alphabetic_item">K</li>
  <li id="L" class="alphabetic_item">L</li>
  <li id="M" class="alphabetic_item">M</li>
  <li id="N" class="alphabetic_item">N</li>
  <li id="O" class="alphabetic_item">O</li>
  <li id="P" class="alphabetic_item">P</li>
  <li id="Q" class="alphabetic_item">Q</li>
  <li id="R" class="alphabetic_item">R</li>
  <li id="S" class="alphabetic_item">S</li>
  <li id="T" class="alphabetic_item">T</li>
  <li id="U" class="alphabetic_item">U</li>
  <li id="V" class="alphabetic_item">V</li>
  <li id="W" class="alphabetic_item">W</li>
  <li id="X" class="alphabetic_item">X</li>
  <li id="Y" class="alphabetic_item">Y</li>
  <li id="Z" class="alphabetic_item">Z</li>
</ul>

    </div>
  </div>
  <div class="all_brands_List" style="display:none;">
    {% render 'all_brands_name' %}
  </div>
</div>


{% schema %}
  {
    "name": "Brands Collection",
    "class":"brans_collection_page",
    "settings": [],
    "presets":[
      {
        "name": "Brands Collection"
      }
    ]
  }
{% endschema %}

